{% extends 'base.html.twig' %}

{% block title 'Réinitialiser le mot de passe' %}

{% block body %}

    <div class="container">

        <div class="row m-5">
            <div class="col">
                <p class="text-center">Réinitialiser votre mot de passe</p>
            </div>
        </div>

        <form method="post">

            <div class="form-group">
                <label class="col-6 " for="password">Nouveau mot de passe :</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="Votre nouveau mot de passe" required>
                <input type="hidden" name="token" value="{{ token }}">
            </div>

            <button class="col-4 btn btn-primary" type="submit">Enregistrer le mot de passe </button>
        </form>

    </div>

{% endblock %}

