{% extends "base.html.twig" %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-3 p-0 text-center div_oeuvre_gallerie">
             {% for oeuvre in oeuvres %}

                <h3>{{ oeuvre.titre }}</h3>

                <img alt="" src="{{ asset ('assets/images/'~oeuvre.photo) }}" class="post-detail-img-left" />

                <p>Technique : {{ oeuvre.techniques }} <br></p>

             <div>
                 <a class="btn btn-block btn-ac"
                    href="{{ path('boutique') }}">
                     Acquérir cette oeuvre
                 </a>
             </div>

             <br><br><br><br><br><br><br>

             {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}