{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col text-biographie">

                <h3 class="text-center m5">BIOGRAPHIE</h3>

                <div class="row mb-5 mt-5">
                    <p class="col-3"><img class="img_biographie" src="{{ asset('assets/images/Famille-elephant-Fusain-et-crayon-Cadre-57x75cm.jpg') }}"></p>
                    <p class="col-9 mt-5">"
                        Chadia, née le 25 avril 1981 dans les Yvelines, est passionnée d'Art et du Beau depuis son enfance. <br>
                        Elle pratique régulièrement le Dessin depuis toute petite, jusqu'à nos jours.
                        <br><br>

                        C'est en 2003 qu'elle va s'inscrire à son premier atelier de Peinture et découvrir avec grande satisfaction,
                        une nouvelle manière de s'exprimer, puisque les Couleurs vont faire diversion à l'importance qu'elle attachait à l'exactitude des proportions
                        produites du bout de son Crayon.<br>
                        L'Imaginaire va ainsi prendre nettement plus de place, et les émotions pourront vibrer à travers ses toiles, d'abord figuratives, puis abstraites,
                        avant de pratiquer un mixe de ces deux genres.
                        <br><br>
                </div>

                <div class="row mb-5 mt-5">
                    <p class="col-9">
                        En effet, Chadia affichait "officiellement" un esprit rationnel entre ses dessins très réalistes,
                        son parcours lycéen scientifique et ses études supérieures en Architecture.<br>
                        Mais c'est précisément avec la peinture qu'elle révèle depuis, une facette plus ouverte, plus créative. <br>
                        Elle aime à dire qu'elle a "les pieds sur Terre et la tête dans les Etoiles", et qu'il y a pour elle qu'une règle valable dans l'Art: c'est qu'il n'y en ait pas !
                        <br><br>

                        Cette artiste autodidacte, est curieuse de tout, de toutes les sciences, mais l'Art, sous toutes ses formes,
                        a une grande importance dans son Evolution personnelle.<br>
                        Elle estime qu'il peut contribuer à faire grandir l'Ame et ouvrir davantage l'Esprit, quand l'Energie créatrice sollicitée est saine.
                        <br><br>
                    </p>
                    <p class="col-3"><img class="img_biographie" src="{{ asset('assets/images/La-Legende-de-la-barque-flottante-Acrylique-33x41cm.jpg') }}"></p>

                </div>

                <div class="row mb-5 mt-5">

                    <p class="col-3"><img class="img_biographie" src="{{ asset('assets/images/Les-Fleurs-de-Lys-Acrilyque-encre-et-paillettes-40x60cm.jpg') }}"></p>

                    <p class="col-9">
                        Elle satisfait aussi sa passion et son altruisme, en parallèle de ses activités en Architecture, en donnant à partir de 2011,
                        des cours de dessins d'Arts Plastiques et d'Architecture à des adultes, et de Peinture à des enfants. <br>
                        Les outils qu'elle emploie dans ses cours, sont entre autres: le crayon de papier; la mine de plomb; le fusain; le pastel et la peinture acrylique.
                        <br><br>

                        Elle expose ponctuellement à travers des événements d'associations culturelles locales. <br>
                        C'est sur les recommandations de ses proches, que Chadia s'applique à présent à faire connaître ses travaux,
                        qu'elle se contentait d'offrir jusqu'alors."
                    </p>
                </div>

            </div>

        </div>
    </div>


{% endblock %}

