{% extends 'layout.html.twig' %}

{% block page_title %}
    Créer une Oeuvre
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h3>Créer une Oeuvre</h3>
                {{ form(form, {attr:{novalidate:'novalidate'}}) }}
            </div>
            <div class="col-md-8 col-sm-12">
                {% set oeuvres = oeuvres_repository.findAll() %}
                {% for oeuvre in oeuvres %}
                    <h6 class ='text-center'>Nombre de produits dans la boutique: <span class="badge badge-info"><?=$result->rowCount(); ?></span>
                    </h6>
                    <table><tr>
                            <?php for ($i=0; $i < $result->columnCount(); $i++):
                            $colonne = $result->getColumnMeta($i);

                            //debug($colonne);
                            ?>
                            <th class='alert alert-warning text-center'><?=$colonne['name']?></th>
                            <?php endfor; ?>
                            <th class='alert alert-warning text-center'>Modifier</th>
                            <th class='alert alert-warning text-center'>Supprimer</th>
                        </tr>
                        <?php while($produits = $result->fetch(PDO::FETCH_ASSOC)):?>

                        <tr>

                            <?php foreach($produits as $key=>$value) :
                            if ($key=='photo'):?>
                            <td class='alert alert-warning text-center' ><img src="<?= $value?>" alt="" class='img-thumbnail'></td>
                            <?php else:?>
                            <td class='alert alert-warning text-center' ><?=$value?></td>

                            <?php endif;
endforeach;?>

                            <td class='alert alert-warning text-center'> <a href="?action=modif&id_produit=<?=$produits['id_produit'] ?>"><i class="fas fa-edit"></i></a></td>

                            <td class='alert alert-warning text-center'> <a href="?action=supp&id_produit=<?=$produits['id_produit'] ?>"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>

                        <?php endwhile;?>

                    </table>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block final_javascripts %}
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
    <script>
        CKEDITOR.replace( 'oeuvre[dimensions]' );
    </script>
    <script>
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'D&eacute;sol&eacute;, le fichier est trop volumineux'
            }
        });
    </script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}

