{% extends 'base.html.twig' %}


{% block body %}

    <!-- *************CONTENU DE LA PAGE D'ACCEUIL*************** -->

    <div class="container">

        <div class="row">
            <div class="col-12 text-center p_index">
                <p>"Démarquez votre déco intérieure avec l'acquisition d'œuvres uniques , qui portent une vraie histoire, autre que commerciale "</p>
            </div>
            <div class="col-12 text-center p_index">
                <p>"Le petit plus, c'est aussi de me proposer vous même le thème d'une œuvre, abstraite ou réaliste, car l'Art c'est aussi ce champ infini des possibles "</p>
            </div>

        </div>

    </div>

    <div class="container-fluid">
        <div class="row fird_p_index">
            <p class="col-12 text-center">"L'Art est Beau quand la Main, la Tête et le Coeur de l'Homme travaillent ensemble"</p><br>
            <p class=" col-12 d-flex justify-content-end">John Ruskin</p>
        </div>
    </div>


{% endblock %}