{% extends 'base.html.twig' %}


{% block body %}

    <!-- *************CONTENU DE LA PAGE D'ACCEUIL*************** -->


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url({{ asset('assets/images/Art_d_Orient-Acrylique-33x41cm.jpg') }})"></div>
            <div class="carousel-item" style="background-image: url({{ asset('assets/images/Cheval_sur_la_plage-Aquarelle.JPG') }})"></div>
            <div class="carousel-item" style="background-image: url({{ asset('assets/images/Entre-Ciel-Mer-et-Terre-Acrylique-33x41cm.jpg') }})"></div>
            <div class="carousel-item" style="background-image: url({{ asset('assets/images/Ethnie-I-Fusain-Cadre-43x53cm.jpg') }})"></div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--<div class="container">

        <div class="row">
            <div class="col-12 text-center p_index">
                <p>"Démarquez votre déco intérieure avec l'acquisition d'œuvres uniques , qui portent une vraie histoire, autre que commerciale "</p>
            </div>
            <div class="col-12 text-center p_index">
                <p>"Le petit plus, c'est aussi de me proposer vous même le thème d'une œuvre, abstraite ou réaliste, car l'Art c'est aussi ce champ infini des possibles "</p>
            </div>

        </div>

    </div>-->

        <div class="row fird_p_index">
            <p class="col-12 text-center">"L'Art est Beau quand la Main, la Tête et le Coeur de l'Homme travaillent ensemble"</p><br>
            <p class="col-12 text-center auteur_citation">John Ruskin </p>
        </div>

        <footer class="fixed-bottom">
            <p class="text-center mentions mb-1 mr-5">© T.A.L 2019<span class="d-flex justify-content-end" >Siret: 82304849100018</span> </p>
        </footer>


{% endblock %}