{% extends 'base.html.twig' %}


{% block body %}
        <!-- **************NAVIGATION*************** -->

    <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <a class="navbar-brand" href="#">Les Ateliers créatifs de Chadia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex justify-content-end ">
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="#">Biographie</a>
                </li>
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Galerie
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Calligraphie</a>
                        <a class="dropdown-item" href="#">Abstrait </a>
                        <a class="dropdown-item" href="#">Les Fétiches </a>
                        <a class="dropdown-item" href="#">Les Fusains et Crayons </a>
                        <a class="dropdown-item" href="#">Paysages </a>

                </li>
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Boutique
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Acquérir une oeuvre</a>
                        <a class="dropdown-item" href="#">Panier</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu compte" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">S'inscrire</a>
                        <a class="dropdown-item" href="#">Se connecter</a>
                </li>
            </ul>

        </div>
    </nav>

    <!-- *************CONTENU DE LA PAGE D'ACCEUIL*************** -->

    <div class="container">

        <div class="row">
            <div class="col-12 text-center p_index">
                <p>"Démarquez votre déco intérieure avec l'acquisition d'œuvres uniques , qui portent une vraie histoire, autre que commerciale "</p>
            </div>
            <div class="col-12 text-center p_index">
                <p>"Le petit plus, c'est aussi de me proposer vous même le thème d'une œuvre, abstraite ou réaliste, car l'Art c'est aussi ce champ infini des possibles "</p>
            </div>

        </div>

    </div>

    <div class="container-fluid">
        <div class="row fird_p_index">
            <p class="col-12 text-center">"L'Art est Beau quand la Main, la Tête et le Coeur de l'Homme travaillent ensemble"</p><br>
            <p class=" col-12 d-flex justify-content-end">John Ruskin</p>
        </div>
    </div>









{% endblock %}