{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    <h3 class="text-center m-5">Contactez-nous</h3>

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        <div class="container">

            {% for message in app.Flashes('notice') %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form_row m-5">
                        {{ form(form, {attr:{novalidate:'novalidate'}}) }}
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
