<footer class="fixed-bottom">
    <div class="row fird_p_index">
        <p class="col-12 text-center">"L'Art est Beau quand la Main, la Tête et le Coeur de l'Homme travaillent ensemble"</p><br>
        <p class=" col-12 text-center">John Ruskin</p>
    </div>
</footer>
